.resume h2 {
  color: #444;
  font-size: 30px;
  margin: 20px 0px;
  text-align: center;
  text-transform: uppercase;
}
.resume table tr th{
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
}
.resume table thead{
  background-color: #f2f2f2;
}
.resume table tr td{
  vertical-align: middle;
}
.content-dimmed{
  height: 100%;
  width: 100%;
  background-color: #e4e4e4;
  opacity: 0.9;
  z-index: 25000;
  position: absolute;
  left: 303px;
  top: 72px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.message-p {
  color: #f1f1f1;
  display: block;
}